@page
@model FiscalManagement.Pages.Audite.IndexModel

@{
    ViewData["Title"] = "Listă de Audite";
}

<h2 class="text-center text-primary">@ViewData["Title"]</h2>

<p class="text-center">
    <a asp-page="Create" class="btn btn-primary btn-custom">Adaugă un audit</a>
</p>

<div class="table-responsive">
    <table class="table table-custom">
        <thead>
            <tr>
                <th>#</th>
                <th>Descriere</th>
                <th>Data Audit</th>
                <th>Acțiuni</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Audite.Count; i++)
            {
                var audit = Model.Audite[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@audit.Descriere</td>
                    <td>@audit.DataAudit.ToString("dd.MM.yyyy")</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@audit.AuditID" class="btn btn-sm btn-warning btn-custom">Editează</a>
                        <a asp-page="Details" asp-route-id="@audit.AuditID" class="btn btn-sm btn-info btn-custom">Detalii</a>
                        <a asp-page="Delete" asp-route-id="@audit.AuditID" class="btn btn-sm btn-danger btn-custom">Șterge</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
