@page
@model FiscalManagement.Pages.Plati.IndexModel
@{
    ViewData["Title"] = "Plati";
}

<h1>Plăți</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Adaugă o plată</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Detalii</th>
            <th>Data Plății</th>
            <th>Suma</th>
            <th>Tipul Plății</th>
            <th>Contribuabil</th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plata in Model.Plati)
        {
            <tr>
                <td>@plata.DetaliiPlata</td>
                <td>@plata.DataPlata.ToShortDateString()</td>
                <td>@plata.Suma</td>
                <td>@plata.TipPlata</td>
                <td>@plata.Contribuabil.Nume</td>
                <td>
                    <a asp-page="Details" asp-route-id="@plata.PlataID" class="btn btn-info btn-sm">Detalii</a>
                    <a asp-page="Edit" asp-route-id="@plata.PlataID" class="btn btn-warning btn-sm">Editează</a>
                    <a asp-page="Delete" asp-route-id="@plata.PlataID" class="btn btn-danger btn-sm">Șterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
